@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: rgb(247, 196, 37);
}

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  padding: 0rem 5rem;
  height: 10vh;
  font-family: "Montserrat", sans-serif;
}

nav > ul {
  display: flex;
  justify-content: right;
  gap: 2rem;
  width: 100%;
}

nav > ul li {
  list-style-type: none;
  font-weight: bold;
  height: 100%;
}

nav > ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
}

nav > ul li a:hover {
  border-bottom: 1px solid var(--primary-color);
}

.logo__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  height: 45px;
}

.link__btn {
  background-color: var(--primary-color);
}